- 需求：
    - 导入文件，查看原始数据
    - 将人口数据和各州简称数据进行合并
    - 将合并的数据中重复的abbreviation列进行删除
    - 查看存在缺失数据的列
    - 找到有哪些state/region使得state的值为NaN，进行去重操作
    - 为找到的这些state/region的state项补上正确的值，从而去除掉state这一列的所有NaN
    - 合并各州面积数据areas
    - 我们会发现area(sq.mi)这一列有缺失数据，找出是哪些行
    - 去除含有缺失数据的行
    - 找出2010年的全民人口数据
    - 计算各州的人口密度
    - 排序，并找出人口密度最高的州

In [1]:
import pandas as pd

In [4]:
abb = pd.read_csv('./data/state-abbrevs.csv')
abb.head(3)#州的全称和简称

     state abbreviation
0  Alabama           AL
1   Alaska           AK
2  Arizona           AZ

In [5]:
pop = pd.read_csv('./data/state-population.csv')
pop.head(3)

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0

In [7]:
area = pd.read_csv('./data/state-areas.csv')
area.head(3)

     state  area (sq. mi)
0  Alabama          52423
1   Alaska         656425
2  Arizona         114006

In [8]:
#将人口数据和各州简称数据进行合并
abb_pop = pd.merge(abb,pop,left_on='abbreviation',right_on='state/region',how='outer')
abb_pop

        state abbreviation state/region     ages  year   population
0     Alabama           AL           AL  under18  2012    1117489.0
1     Alabama           AL           AL    total  2012    4817528.0
2     Alabama           AL           AL  under18  2010    1130966.0
3     Alabama           AL           AL    total  2010    4785570.0
4     Alabama           AL           AL  under18  2011    1125763.0
...       ...          ...          ...      ...   ...          ...
2539      NaN          NaN          USA    total  2010  309326295.0
2540      NaN          NaN          USA  under18  2011   73902222.0
2541      NaN          NaN          USA    total  2011  311582564.0
2542      NaN          NaN          USA  under18  2012   73708179.0
2543      NaN          NaN          USA    total  2012  313873685.0

[2544 rows x 6 columns]

In [9]:
abb_pop.drop(labels='abbreviation',axis=1,inplace=True)

In [11]:
#查看存在缺失数据的列
abb_pop.isnull().any(axis=0)

state            True
state/region    False
ages            False
year            False
population       True
dtype: bool

In [13]:
#找到有哪些state/region使得state的值为NaN，进行去重操作
abb_pop.loc[abb_pop['state'].isnull()]

     state state/region     ages  year   population
2448   NaN           PR  under18  1990          NaN
2449   NaN           PR    total  1990          NaN
2450   NaN           PR    total  1991          NaN
2451   NaN           PR  under18  1991          NaN
2452   NaN           PR    total  1993          NaN
...    ...          ...      ...   ...          ...
2539   NaN          USA    total  2010  309326295.0
2540   NaN          USA  under18  2011   73902222.0
2541   NaN          USA    total  2011  311582564.0
2542   NaN          USA  under18  2012   73708179.0
2543   NaN          USA    total  2012  313873685.0

[96 rows x 5 columns]

In [29]:
abb_pop.loc[abb_pop['state'].isnull()]['state/region'].unique()

array([], dtype=object)

In [17]:
#给state中存在的空值补上正确的值

In [23]:
#给PR简称对应的全称补上正确的值
abb_pop['state/region'] == 'PR'
abb_pop.loc[abb_pop['state/region'] == 'PR'] #将PR的行数据取出
PR_row_index = abb_pop.loc[abb_pop['state/region'] == 'PR'].index
abb_pop.loc[PR_row_index,'state'] = 'PPPRRR' #批量填充

In [28]:
#给USA简称对应的全称补上正确的值
abb_pop['state/region'] == 'USA'
abb_pop.loc[abb_pop['state/region'] == 'USA'] #取出的是USA对应的行数据
USA_row_index = abb_pop.loc[abb_pop['state/region'] == 'USA'].index

abb_pop.loc[USA_row_index,'state'] = 'United States'

In [31]:
abb_pop_area = pd.merge(abb_pop,area,how='outer')
abb_pop_area.head()

     state state/region     ages    year  population  area (sq. mi)
0  Alabama           AL  under18  2012.0   1117489.0        52423.0
1  Alabama           AL    total  2012.0   4817528.0        52423.0
2  Alabama           AL  under18  2010.0   1130966.0        52423.0
3  Alabama           AL    total  2010.0   4785570.0        52423.0
4  Alabama           AL  under18  2011.0   1125763.0        52423.0

In [36]:
#我们会发现area(sq.mi)这一列有缺失数据，找出是哪些行
abb_pop_area['area (sq. mi)'].isnull()
abb_pop_area.loc[abb_pop_area['area (sq. mi)'].isnull()]
drop_index = abb_pop_area.loc[abb_pop_area['area (sq. mi)'].isnull()].index

In [37]:
abb_pop_area.drop(labels=drop_index,axis=0,inplace=True)

In [38]:
#检测目前哪些列中存在缺失值
abb_pop_area.isnull().any(axis=0)

state            False
state/region      True
ages              True
year              True
population        True
area (sq. mi)    False
dtype: bool

In [39]:
for col in abb_pop_area.columns:
    if abb_pop_area[col].isnull().sum() > 0:
        drop_index = abb_pop_area.loc[abb_pop_area[col].isnull()].index
        abb_pop_area.drop(labels=drop_index,axis=0,inplace=True)

In [40]:
abb_pop_area.isnull().any(axis=0)

state            False
state/region     False
ages             False
year             False
population       False
area (sq. mi)    False
dtype: bool

In [43]:
#找出2010年的全民人口数据
abb_pop_area.query('year==2010 & ages=="total"')

,state,state/region,ages,year,population,area (sq. mi)
3,Alabama,AL,total,2010.0,4785570.0,52423.0
91,Alaska,AK,total,2010.0,713868.0,656425.0
101,Arizona,AZ,total,2010.0,6408790.0,114006.0
189,Arkansas,AR,total,2010.0,2922280.0,53182.0
197,California,CA,total,2010.0,37333601.0,163707.0
283,Colorado,CO,total,2010.0,5048196.0,104100.0
293,Connecticut,CT,total,2010.0,3579210.0,5544.0
379,Delaware,DE,total,2010.0,899711.0,1954.0
389,District of Columbia,DC,total,2010.0,605125.0,68.0
475,Florida,FL,total,2010.0,18846054.0,65758.0
485,Georgia,GA,total,2010.0,9713248.0,59441.0
570,Hawaii,HI,total,2010.0,1363731.0,10932.0
581,Idaho,ID,total,2010.0,1570718.0,83574.0
666,Illinois,IL,total,2010.0,12839695.0,57918.0
677,Indiana,IN,total,2010.0,6489965.0,36420.0
762,Iowa,IA,total,2010.0,3050314.0,56276.0
773,Kansas,KS,total,2010.0,2858910.0,82282.0
858,Kentucky,KY,total,2010.0,4347698.0,40411.0
869,Louisiana,LA,total,2010.0,4545392.0,51843.0
954,Maine,ME,total,2010.0,1327366.0,35387.0
965,Montana,MT,total,2010.0,990527.0,147046.0
1050,Nebraska,NE,total,2010.0,1829838.0,77358.0
1061,Nevada,NV,total,2010.0,2703230.0,110567.0
1146,New Hampshire,NH,total,2010.0,1316614.0,9351.0
1157,New Jersey,NJ,total,2010.0,8802707.0,8722.0
1242,New Mexico,NM,total,2010.0,2064982.0,121593.0
1253,New York,NY,total,2010.0,19398228.0,54475.0
1338,North Carolina,NC,total,2010.0,9559533.0,53821.0
1349,North Dakota,ND,total,2010.0,674344.0,70704.0
1434,Ohio,OH,total,2010.0,11545435.0,44828.0
1445,Oklahoma,OK,total,2010.0,3759263.0,69903.0
1530,Oregon,OR,total,2010.0,3837208.0,98386.0
1541,Maryland,MD,total,2010.0,5787193.0,12407.0
1626,Massachusetts,MA,total,2010.0,6563263.0,10555.0
1637,Michigan,MI,total,2010.0,9876149.0,96810.0
1722,Minnesota,MN,total,2010.0,5310337.0,86943.0
1733,Mississippi,MS,total,2010.0,2970047.0,48434.0
1818,Missouri,MO,total,2010.0,5996063.0,69709.0
1829,Pennsylvania,PA,total,2010.0,12710472.0,46058.0
1914,Rhode Island,RI,total,2010.0,1052669.0,1545.0
1925,South Carolina,SC,total,2010.0,4636361.0,32007.0
2010,South Dakota,SD,total,2010.0,816211.0,77121.0
2021,Tennessee,TN,total,2010.0,6356683.0,42146.0
2106,Texas,TX,total,2010.0,25245178.0,268601.0
2117,Utah,UT,total,2010.0,2774424.0,84904.0
2202,Vermont,VT,total,2010.0,625793.0,9615.0
2213,Virginia,VA,total,2010.0,8024417.0,42769.0
2298,Washington,WA,total,2010.0,6742256.0,71303.0
2309,West Virginia,WV,total,2010.0,1854146.0,24231.0
2394,Wisconsin,WI,total,2010.0,5689060.0,65503.0
2405,Wyoming,WY,total,2010.0,564222.0,97818.0

In [46]:
#计算各州的人口密度
abb_pop_area['midu'] = abb_pop_area['area (sq. mi)']/abb_pop_area['population']
abb_pop_area

,state,state/region,ages,year,population,area (sq. mi),midu
0,Alabama,AL,under18,2012.0,1117489.0,52423.0,0.046911
1,Alabama,AL,total,2012.0,4817528.0,52423.0,0.010882
2,Alabama,AL,under18,2010.0,1130966.0,52423.0,0.046352
3,Alabama,AL,total,2010.0,4785570.0,52423.0,0.010954
4,Alabama,AL,under18,2011.0,1125763.0,52423.0,0.046567
...,...,...,...,...,...,...,...
2443,Wyoming,WY,under18,1993.0,137458.0,97818.0,0.711621
2444,Wyoming,WY,total,1991.0,459260.0,97818.0,0.212990
2445,Wyoming,WY,under18,1991.0,136720.0,97818.0,0.715462
2446,Wyoming,WY,under18,1990.0,136078.0,97818.0,0.718838
2447,Wyoming,WY,total,1990.0,453690.0,97818.0,0.215605

In [50]:
#根据密度排序
abb_pop_area.sort_values(by='midu',ascending=False)

,state,state/region,ages,year,population,area (sq. mi),midu
49,Alaska,AK,under18,1990.0,177502.0,656425.0,3.698127
51,Alaska,AK,under18,1991.0,182180.0,656425.0,3.603167
85,Alaska,AK,under18,2008.0,183124.0,656425.0,3.584593
83,Alaska,AK,under18,2007.0,184344.0,656425.0,3.560870
52,Alaska,AK,under18,1992.0,184878.0,656425.0,3.550585
...,...,...,...,...,...,...,...
389,District of Columbia,DC,total,2010.0,605125.0,68.0,0.000112
431,District of Columbia,DC,total,1990.0,605321.0,68.0,0.000112
387,District of Columbia,DC,total,2011.0,619624.0,68.0,0.000110
385,District of Columbia,DC,total,2012.0,633427.0,68.0,0.000107
391,District of Columbia,DC,total,2013.0,646449.0,68.0,0.000105