### 替换操作
- 替换操作可以同步作用于Series和DataFrame中
- 单值替换
    - 普通替换：  替换所有符合要求的元素:to_replace=15,value='e'
    - 按列指定单值替换： to_replace={列标签：替换值} value='value'
    
    
- 多值替换
    - 列表替换: to_replace=[]  value=[]
    - 字典替换（推荐）  to_replace={to_replace:value,to_replace:value}

### 映射操作
- 概念：创建一个映射关系列表，把values元素和一个特定的标签或者字符串绑定（给一个元素值提供不同的表现形式）

- 创建一个df，两列分别是姓名和薪资，然后给其名字起对应的英文名

- map是Series的方法，只能被Series调用

### 运算工具

- 超过300部分的钱缴纳50%的税，计算每个人的税后薪资

- Series的方法apply也可以像map一样充当运算工具
    - apply充当运算工具效率要远远高于map

### 排序实现的随机抽样
- take()
- np.random.permutation()

### 数据的分类处理
- 数据分类处理的核心：

    - groupby()函数
    - groups属性查看分组情况

In [32]:
df = DataFrame({'item':['Apple','Banana','Orange','Banana','Orange','Apple'],
                'price':[4,3,3,2.5,4,2],
               'color':['red','yellow','yellow','green','green','green'],
               'weight':[12,20,50,30,20,44]})
df

     item  price   color  weight
0   Apple    4.0     red      12
1  Banana    3.0  yellow      20
2  Orange    3.0  yellow      50
3  Banana    2.5   green      30
4  Orange    4.0   green      20
5   Apple    2.0   green      44

### 高级数据聚合
- 使用groupby分组后，也可以使用transform和apply提供自定义函数实现更多的运算
- df.groupby('item')['price'].sum() <==> df.groupby('item')['price'].apply(sum)
- transform和apply都会进行运算，在transform或者apply中传入函数即可
- transform和apply也可以传入一个lambda表达式

- apply和transform的区别：
    - transform返回的结果是经过映射后的结果
    - apply返回的是没有经过映射的结果

### 数据加载

- 读取type-.txt文件数据

- 读取数据库中的数据

In [1]:
#连接数据库，获取连接对象
import sqlite3 as sqlite3
conn = sqlite3.connect('./data/weather_2012.sqlite')

### 透视表
- 透视表是一种可以对数据动态排布并且分类汇总的表格格式。或许大多数人都在Excel使用过数据透视表，也体会到它的强大功能，而在pandas中它被称作pivot_table。

- 透视表的优点：
    - 灵活性高，可以随意定制你的分析计算要求
    - 脉络清晰易于理解数据
    - 操作性强，报表神器

In [77]:
df = pd.read_csv('./data/透视表-篮球赛.csv')
df

     对手 胜负 主客场  命中  投篮数  投篮命中率  3分命中率  篮板  助攻  得分
0    勇士  胜   客  10   23  0.435  0.444   6  11  27
1    国王  胜   客   8   21  0.381  0.286   3   9  27
2    小牛  胜   主  10   19  0.526  0.462   3   7  29
3    灰熊  负   主   8   20  0.400  0.250   5   8  22
4   76人  胜   客  10   20  0.500  0.250   3  13  27
5    黄蜂  胜   客   8   18  0.444  0.400  10  11  27
6    灰熊  负   客   6   19  0.316  0.222   4   8  20
7   76人  负   主   8   21  0.381  0.429   4   7  29
8   尼克斯  胜   客   9   23  0.391  0.353   5   9  31
9    老鹰  胜   客   8   15  0.533  0.545   3  11  29
10   爵士  胜   主  19   25  0.760  0.875   2  13  56
11   骑士  胜   主   8   21  0.381  0.429  11  13  35
12   灰熊  胜   主  11   25  0.440  0.429   4   8  38
13  步行者  胜   客   9   21  0.429  0.250   5  15  26
14   猛龙  负   主   8   25  0.320  0.273   6  11  38
15   太阳  胜   客  12   22  0.545  0.545   2   7  48
16   灰熊  胜   客   9   20  0.450  0.500   5   7  29
17   掘金  胜   主   6   16  0.375  0.143   8   9  21
18  尼克斯  胜   主  12   27  0.444  0.385   2  10  37
19   篮网  胜   主  13   20  0.650  0.615  10   8  37
20  步行者  胜   主   8   22  0.364  0.333   8  10  29
21   湖人  胜   客  13   22  0.591  0.444   4   9  36
22   爵士  胜   客   8   19  0.421  0.333   5   3  29
23  开拓者  胜   客  16   29  0.552  0.571   8   3  48
24   鹈鹕  胜   主   8   16  0.500  0.400   1  17  26

#### pivot_table有四个最重要的参数index、values、columns、aggfunc

- index参数：分类汇总的分类条件
    - 每个pivot_table必须拥有一个index。如果想查看哈登对阵每个队伍的得分则需要对每一个队进行分类并计算其各类得分的平均值：

- 想看看哈登对阵同一对手在不同主客场下的数据，分类条件为对手和主客场

- values参数：需要对计算的数据进行筛选
    - 如果我们只需要哈登在主客场和不同胜负情况下的得分、篮板与助攻三项数据：

- Aggfunc参数：设置我们对数据聚合时进行的函数操作
    - 当我们未设置aggfunc时，它默认aggfunc='mean'计算均值。

- 还想获得james harden在主客场和不同胜负情况下的总得分、总篮板、总助攻时：

- Columns:可以设置列层次字段
    - 对values字段进行分类

In [3]:
#获取所有队主客场的总得分

In [4]:
#查看主客场下的总得分的组成元素是谁

### 交叉表
- 是一种用于计算分组的特殊透视图,对数据进行汇总
- pd.crosstab(index,colums)
    - index:分组数据，交叉表的行索引
    - columns:交叉表的列索引

In [87]:
df = DataFrame({'sex':['man','man','women','women','man','women','man','women','women'],
               'age':[15,23,25,17,35,57,24,31,22],
               'smoke':[True,False,False,True,True,False,False,True,False],
               'height':[168,179,181,166,173,178,188,190,160]})
df

     sex  age  smoke  height
0    man   15   True     168
1    man   23  False     179
2  women   25  False     181
3  women   17   True     166
4    man   35   True     173
5  women   57  False     178
6    man   24  False     188
7  women   31   True     190
8  women   22  False     160

- 求出各个性别抽烟的人数

- 求出各个年龄段抽烟人情况